body {
  text-align: center;
  font-family: Arial;
}

.card {
  text-align: center;
  vertical-align: middle;
}

.card-header, .card-item {
  display: inline-block;
  width: 19%;
  margin: 0.25em;
}

.card-header, .free {
  background-color: #d3d3d3;
}

.card-item {
  background-color: #bada55;
  height: 6em;
  padding-top: 0.25em;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

.button {
  margin: 1em auto;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.selected{
  background: blue;
}
