<!doctype html>
<html data-ng-app="bingo">
<head>
  <title>Web Conference Bingo Card</title>
  <meta charset="utf-8">
  <meta viewport="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="css/style.css" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

</head>
<body data-ng-controller="bingoController">
  <a href="https://github.com/Trott/webconf-bingo"><img class="github-ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
  <h1>Web Conference Bingo Card</h1>
    <!-- Yes, <table>. A bingo card is tabular data. I think. -->
    <table class="card">
      <tr class="card-row">
        <th data-ng-repeat="column in card.header" class="card-header">{{column}}</th>
      </tr>
      <tr data-ng-repeat="row in card.rows" class="card-row">
        <td data-ng-repeat="item in row" class="card-item overthrow" data-ng-class="{selected: selected}" data-ng-click="selected=!selected">{{item}}</td>
      </tr>
    </table>
  <button class="button" data-ng-click="newCard()">Get a new card!</button>
  <script src="js/bingo.js"></script>
  <script src="js/overthrow.js"></script>
</body>
</html>
